body {
    background-color: #455b44;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    color: #363636;
}

h1 {
    font-size: 54px;
    color: white;
    text-shadow: 1px 1px #333;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px #333;
    text-align: center;
}

p {
    color: white;
    text-shadow: 1px 1px #333;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #455b44;
}

.header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logo {
    width: 100px;
    padding-left: 30px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 30px;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

.menu li {
    margin-right: 20px;
    list-style: none;
}

.menu li:last-child {
    margin-right: 0;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: goldenrod;
}

.logo1,
.logo2 {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 110px;
    height: 100px;
    transition: opacity 0.5s ease;
}

.logo2 {
    opacity: 0;
}

div:hover .logo1 {
    opacity: 0;
}

div:hover .logo2 {
    opacity: 1;
}

section {
    padding: 20px;
}

.flex-container2 {
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(0.7rem) saturate(50%);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: 1;
}

.flex-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0);
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
    backdrop-filter: blur(0.7rem) saturate(50%);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pictures {
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 30px;
    color: white;
}

#about {
    height: 400px;
    background-image: url("assets/royaume.jpeg");
    background-size: cover;
    border-radius: 10px;
}

#family {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    background-image: url("assets/royaume2.jpeg");
    background-size: cover;
    border-radius: 10px;
}

#assets {
    height: 750px;
    background-image: url("assets/royaume3.jpeg");
    background-size: cover;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    background-color: rgba(69, 91, 68, 0.43);
    color: #b2b2b2;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgba(69, 91, 68, 0.7);
    color: #dddddd;
    text-align: center;
}

tr:hover {
    background-color: rgba(69, 91, 68, 0.7);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
        padding: 6px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-image: url("assets/royaume4.jpeg");
    background-size: cover;
}

#contactForm {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    resize: both;
    font-family: "Acme", sans-serif;
    font-size: 30px;
    backdrop-filter: blur(0.7rem) saturate(50%);
    -webkit-backdrop-filter: blur(0.7rem);
    z-index: 1;
}

form {
    color: #b2b2b2;
    width: 300px;
    padding-top: 20px;
}

label {
    line-height: 2;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: rgba(69, 91, 68, 0.7);
    color: #fff;
    box-sizing: inherit;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(69, 91, 68, 0.7);
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: rgba(12, 255, 0, 0.7);
}


